.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-box {
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    max-width: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: visible;
}

.search-input {
    border: none !important;
    padding-left: 35px;
    flex: 1;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary-color);
    pointer-events: none;
    font-size: 16px;
}

.doctor-select {
    position: relative;
    padding-left: 10px;
    background: #fff !important;
    display: flex;
    align-items: center;
}


.doctor-select::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background-color: var(--primary-color)
}



.dropdown-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    background: #fff !important;
    border: none !important;
    color: var(--primary-color) !important;
    box-shadow: none !important;
}

.dropdown-btn span {
    display: inline-block;
}

.dropdown-inside {
    width: 100%;
    border-radius: 0 0 10px 10px;
    margin-top: 2px;
    border: 1px solid #ddd;
    position: absolute !important;
    z-index: 2000;
    background: #fff;
}

.dropdown-item:focus {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

.search-btn {
    background: #fff !important;
    border: none !important;
    color: #000 !important;
    padding: 0 15px;
}
